.badge {
    margin: 0rem .25rem 0rem .25rem;
}

span a {
    text-decoration: none!important;
    color:white!important;
}

.card-header {
    background-color: #555555!important;
}

.githubButton {
    text-decoration: none!important;
    color:white!important;
}

.project-wrapper {
    width: 80%;
}